#title {
    font-size: 2em;
    background-color: rgb(202, 203, 204);
    margin: 0;
    text-align: center;
   
}

#object-area {
    background-color: black;
    width: 90%;
    height: fit-content;
    padding: 50px 20px;
    margin: auto;
    color: white;
    box-shadow: 3px 3px 6px black;
}



/* Colorir o objeto */
.coloredObject {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
}

.item {
    display: flex;
    margin-bottom: 5px;
    margin-left: 17px;
}

#edit-send {
    width: 90%;
    margin: 30px 5%;
    display: flex;
    justify-content: space-between;
}

#edit {
    background-color: #008000;
}

#send {
    background-color: rgb(12, 126, 219);
}

#edit:hover {
    box-shadow: 0 0 20px rgb(1, 109, 1);
    background-color: #03b303;
}

#send:hover {
    box-shadow: 0 0 20px rgb(12, 126, 219);
    background-color: rgb(0, 140, 255);
}

div#code-editor {
    width: 100% !important;
    margin: auto !important;
    font-size: 17px !important;
    min-height: 300px !important;
}

