:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}



body, html {
  background-color: #ffffff7a;
  margin: 0;
  margin: auto;
  width: 100vw;
}

#pagination-test {
  background-color: rgb(233, 230, 230);
}

button {
  background-color: red;
  border-radius: 4px;
  margin: 0px;
  font-size: 1.3em;
  transition: box-shadow 0.3s ease;
  outline: none;
}

@media (min-width: 1000px) {
  #pagination-test {
    width: 950px;
    margin: auto;
  }
}